
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #393e46;
    color: #ffffff;
    
}

.wrapper{
    padding-top: 3%;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.top {
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.title,
.startBtn{
    height:fit-content;
}



#container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fafafa;
    grid-gap: 5px;

}

div {
    height: 200px;
}

.cell {
    background-color: #38598b;
    color: white;
}

dialog{
    background-color: #7a818f;
}
