
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.wrapper{
    padding-top: 3%;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.top {
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}



.title,
.startBtn{
    height: 20px;
}


#container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

div {
    height: 200px;
}